
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --flatBlue: #34495e;
  --flatRed: #c0392b;
  --screenSize: 500px;
}

body {
  background-color: var(--flatBlue);
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: white;
  padding-top: 20px;
  text-align: center;
}

#container {
  background-color: var(--flatRed);
  width: 660px;
  height: 700px;
  margin: auto;
  border-radius: 10px;
}

#button-group {
  text-align: center;
}

.button {
  width: 150px;
  padding: 8px;
  margin: 8px;
  border-style: none;
  border-radius: 4px;
  font-size: 14;
}

#screen {
  margin: auto;
  display: grid;
  height: var(--screenSize);
  width: var(--screenSize);
  border: 10px solid grey;
  border-radius: 10px;
}

.grid-cell{
	margin: 0px;
	background: white;
  height: auto;
  width: auto;
}
